<section id="projects">
  <div class="container center-align">
    <h4>
      <strong><u><span style="font-weight: bold">Projects</span></u></strong>
    </h4>

    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;<strong><a
              href="https://github.com/cordovank/Plate2Recipe">Plate2Recipe</a></strong>
          - End-to-end multimodal system that takes a food image and generates a structured recipe (ingredients + steps)
          by combining computer vision (ViT) and language generation (GPT-2/LSTMs).
        </h5>

        <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;<strong><a
              href="https://github.com/cordovank/GT-NLP/tree/main/5-KVMemNet-QA">EAttention-based QA System</a></strong>
          - Key-Value Memory Network for question answering by attending over an external dictionary of facts
          (keys/values) to retrieve answers. Focus on attention mechanics related to transformers while avoiding full
          transformer complexity.
        </h5>

      </div>
    </div>
  </div>
</section>